html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

html,
body {
    overflow-x: hidden;
    width: 100%
}

body {
    margin: 0
}

a {
    background-color: transparent
}

small {
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal
}

img {
    border-style: none
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,
input {
    overflow: visible
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button
}

.btn-hover-my {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: var(--color-white);
    cursor: pointer;
    height: 55px;
    text-align: center;
    border: 0;
    background-size: 300% 100%;
    border-radius: 10px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}

.btn-hover-my:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    color: var(--color-white);
}

.btn-hover-my:focus {
    outline: 0
}

.btn-hover-my.color-3,
.read_more_btn {
    background: var(--primary-color-three);
    /* background-image: linear-gradient(to right, #667eea, #764ba2, #6b8dd6, #8e37d7); */
    /* box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75); */
    padding: 12px 30px
}

.gradient-text {
    background: var(--gradient, linear-gradient(309deg, #b96df4 0, #de84da 35.42%, rgba(155, 153, 254, 0.90) 70.04%, #5bbbd9 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal
}

.card-icon-name a {
    color: var(--primary-color-five);
}

img.vert-move {
    -webkit-animation: mover 1s infinite alternate;
    animation: mover 1s infinite alternate
}

img.vert-move {
    -webkit-animation: mover 1s infinite alternate;
    animation: mover 1s infinite alternate
}

@-webkit-keyframes mover {
    0 {
        transform: translateY(0)
    }

    100% {
        transform: translateY(-10px)
    }
}

@keyframes mover {
    0 {
        transform: translateY(0)
    }

    100% {
        transform: translateY(-10px)
    }
}

.typing h6 {
    width: 31ch;
    border-right: 1px;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(31, end), blink-caret .5s step-end infinite alternate
}

.rotate span {
    display: inline-flex;
    animation: rotate 2s
}

.nine span:nth-of-type(1) {
    animation-delay: .2s
}

.nine span:nth-of-type(2) {
    animation-delay: .4s
}

.nine span:nth-of-type(3) {
    animation-delay: .6s
}

.nine span:nth-of-type(4) {
    animation-delay: .8s
}

.nine span:nth-of-type(5) {
    animation-delay: 1s
}

.nine span:nth-of-type(6) {
    animation-delay: 1.2s
}

.devlope_inner_sidebar {
    padding: 20px 0;
    text-align: -webkit-center;
    background: var(--primary-color-four);    
    border-radius: 5px;
    border: 1px solid var(--border-color-dark);
    width: 23.333333% !important;
    height: 19rem
}

.homeabout-stroke::before,
.homeservices-stroke::before,
.homeprocedure-stroke::before,
.homeprocess-stroke::before,
.homeportfolio-stroke::before,
.aboutleaders-stroke::before,
.careerjobs-stroke::before,
.portfoliowork-stroke::before,
.ourblogs-stroke::before,
.privacypolicy-stroke::before {
    content: 'Avtar';
    width: 100%;
    left: 50%;
    -webkit-text-stroke: .5px var(--primary-color-two);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    position: absolute;
    font-size: 3.5rem;
    bottom: 0;
    -webkit-text-fill-color: transparent;
    top: -1.7rem;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: .2
}

.homeabout-stroke::before {
    content: 'About'
}

.homeservices-stroke::before {
    content: 'Services'
}

.homeprocedure-stroke::before {
    content: 'Procedure';
    font-size: 3.8rem
}

.homeprocess-stroke::before {
    content: 'Process'
}

.homeportfolio-stroke::before {
    content: 'Portfolio'
}

.aboutleaders-stroke::before {
    content: 'Our Leaders'
}

.careerjobs-stroke::before {
    content: 'Jobs'
}

.portfoliowork-stroke::before {
    content: 'Portfolio'
}

.ourblogs-stroke::before {
    content: 'Blogs'
}

.privacypolicy-stroke::before {
    content: 'Privacy'
}